
<ion-side-menus>
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-android-cart">
                    <span class="badge badge-assertive">3</span>
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
    </ion-side-menu-content>
    <ion-side-menu>
        <ion-list>
            <ion-item>1</ion-item>
            <ion-item>2</ion-item>
            <ion-item>3</ion-item>
            <ion-item>4</ion-item>
            <ion-item>5</ion-item>
            <ion-item>6</ion-item>
            <ion-item class="item-divider" ng-repeat="cat in mainCategories">{{cat.name}}</ion-item>
        </ion-list>
    </ion-side-menu>
</ion-side-menus>
